 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 .font-roboto {
     font-family: 'Roboto', sans-serif;
 }

 /* Custom dark blue color */
 .text-darkblue {
     color: #003366;
     /* You can adjust the hex code for a different shade of dark blue */
 }

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* CAROUSEL */
 .flex {
     transition: transform 0.8s ease-in-out;
     /* Adjust the duration and easing as needed */
 }

 #slide1:checked~.flex {
     transform: translateX(0%);
 }

 #slide2:checked~.flex {
     transform: translateX(-100%);
 }

 #slide3:checked~.flex {
     transform: translateX(-200%);
 }

/* DISCOUNT BANNER */
@keyframes moving-text {
    0% {
        transform: translateX(var(--start-x));
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-moving-text {
    display: inline-block;
    white-space: nowrap;
    /* Prevent line breaks in text */
    animation: moving-text var(--animation-duration) linear infinite;
}

.custom-start {
    --start-x: 100%;
    /* Start from outside the viewport */
    --animation-duration: 25s;
    /* Duration of one round */
}

@media (prefers-reduced-motion: reduce) {
    .animate-moving-text {
        animation: moving-text 20s linear infinite;
        /* Fallback for users with reduced motion preferences */
    }
}

/* About us */
 @keyframes slideInFromTop {
     from {
         transform: translateY(-100%);
         opacity: 0;
     }

     to {
         transform: translateY(0);
         opacity: 1;
     }
 }

 @keyframes fadeInWords {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .slide-in {
     animation: slideInFromTop 1s ease-out forwards;
 }

 .fade-in-words {
     display: inline-block;
     animation: fadeInWords 1s ease-out forwards;
     opacity: 0;
     animation-delay: var(--delay);
 }

 /* Add class to trigger animation when scrolled into view */
 .animate-on-scroll {
     opacity: 0;
     /* Hidden initially */
 }

 .animate-on-scroll.visible {
     opacity: 1;
     animation: slideInFromTop 1s ease-out forwards;
 }